[Desktop Entry]
Version=1.0
Name=guicrypt-tui
Comment=Manage gocryptfs encrypted vaults from a TUI
Categories=Utility;Security;
Exec=xdg-terminal-exec --app-id=TUI.float -e guicrypt-tui
Terminal=false
Type=Application
Icon=document-encrypt
StartupNotify=true
